h2 {
  text-align: center;
}

nav {
  text-align: center;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
}

input {
  margin-bottom: 10px;
}

nav_ul {
  list-style: none;
}

button {
  margin-left: 160px;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}
